* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*menu*/
ul#menu li {
  display: inline;
}

a:hover {
  color: #252d38;
}

nav {
  --less-than: 600;
  --burger-lines: #000000;
  --burger-border: #000000;
}

header {
  position: relative;
  top: 0;
  /* padding: 1rem 1rem; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgb(237, 230, 222);
  font-family: "poppins";
}

header {
  position: sticky;
  top: 0;
  padding: 1rem 2rem;
  box-shadow: 0 12px 28px 0 rgb(0 0 0 / 30%);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: +1;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
  gap: 30px;
  overflow-x: auto;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #5e6b74;
}
a:hover {
  color: #252d38;
}

nav {
  --less-than: 600;
  --burger-lines: #000000;
  --burger-border: #000000;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  font-family: "poppins regular";
  color: rgb(245, 245, 245);
}

@font-face {
  /* Font 1*/
  font-family: "poppins";
  src: url("poppins-extrabold-webfont.woff2") format("woff2");
}

@font-face {
  /* Font 1*/
  font-family: "oswald";
  src: url("oswald-variablefont_wght-webfont.woff2") format("woff2");
}

@font-face {
  /* Font 1*/
  font-family: "regular";
  src: url("poppins-regular-webfont.woff2") format("woff2");
}

main {
  background-color: #e5e3da;
  max-width: 1500px;
  width: 100%;
}

footer {
  color: burlywood;
  font-family: "poppins regular";
  background-color: white;
  padding: 10px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 56px;
  color: rgb(167, 147, 127);
  text-align: center;
  font-family: "poppins";
  padding-top: 2%;
  grid-area: 1/1;
  padding-left: 10px;
}

h2 {
  font-size: 48px;
  color: rgb(132, 123, 112);
  /* text-align: center; */
  font-family: "poppins";
  padding-left: 12px;
}

p {
  font-size: 20px;
  color: rgb(143, 129, 114);
  /* text-align: center; */
  font-family: "oswald";
}

@media (min-width: 600px) {
  .grid_2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr; */
  }

  .col1 {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .order {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
  }

  .operativ_1 {
    grid-column: 1/1;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
    padding: 3%;
  }

  .grid_2-2 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 100%;
    height: auto;
    padding: 5px;
  }

  .grid_1 {
    display: grid;
    width: 100%;
    height: auto;
    padding: 2%;
  }
  h2 {
    font-size: 48px;
    color: rgb(132, 123, 112);
    /* text-align: center; */
    font-family: "poppins";
    padding-left: 12px;
  }

  .p2 {
    font-size: 28px;
    color: rgb(143, 129, 114);
    /* text-align: center; */
    font-family: "oswald";
    grid-area: 1/1;
    padding-top: 80px;
    padding-left: 12px;
  }
}

@media (min-width: 600px) {
  ul#menu li {
    display: inline;
  }
}

/* .grid_1-1 {
    display: grid;
    gap: 20px;
  } */

.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid_1-1-1-1 img {
  padding: 0;
  margin: 0;
  object-fit: cover;
  align-self: stretch;
}

#img1 {
  grid-column: span 1;
}

/* .img {
  width: 100%;
} */

#img1 {
  grid-column: span 2;
  grid-row: span 2;
}

@media (max-width: 600px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-block: 40px;
    padding: 5%;
  }
  .grid_1-1-1-1 img {
    align-self: stretch;
    object-fit: cover;
  }
  .img1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .img4 {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .img5 {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .img6 {
    grid-column: 1/3;
    grid-row: 5/6;
  }

  span {
    padding: 5px;
    display: inline-block;
    background-color: #fc86aa;
  }
}

@media (min-width: 600px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    gap: 1rem;
    padding: 5%;
  }
  /* #img1 {
    grid-column: span 2;
    grid-row: span 2;
  }

  #img4 {
    grid-column: span 2;
  }

  #img6 {
    grid-column: span 3;
  } */

  .p {
    max-width: 65ch;
  }

  .grid_1-1-1-1 img {
    align-self: stretch;
    object-fit: cover;
  }
  .img1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .img4 {
    grid-column: 3/5;
    grid-row: 2/3;
  }

  .img6 {
    grid-column: 2/5;
    grid-row: 3/4;
  }

  span {
    padding: 5px;
    display: inline-block;
    background-color: #fc86aa;
  }
}

/* .img7 {
  width: 100%;
  display: block;
  margin-right: 10%;
  margin-left: 7%;
  padding: 2%;
  place-content: center;
}

.img8 {
  width: 100%;
  display: block;
  margin-right: 10%;
  margin-left: 7%;
  padding: 2%;
  place-content: center;
} */

.container {
  display: grid;
  place-items: center start;
  padding: 2%;
  /* width: 950px; */
  aspect-ratio: 16/9;
}

.img7 {
  width: 100%;
  height: auto;
}

/* .img7,
.tekst {
  grid-area: 1/1;
} */

.img7,
.p2 {
  grid-area: 1/1;
}

.img7,
.tekst {
  grid-area: 1/1;
}

.img8 {
  width: 100%;
  height: auto;
  padding: 2%;
}

video {
  width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.tekst {
  font-size: 55px;
  color: rgb(154, 133, 113);
  /* text-align: center; */
  font-family: "poppins";
  padding-left: 12px;
  grid-area: 1/1;
}
